.navbar{
    display: inline;
    margin-right: 1
}

/* the font family of HTML */
.body {
    font-family: Roboto, sans-serif;
  }

  /* the text coloration */
  h1 h2 h3 {
    color: red;
  }

  .highlight {
    background-color: yellowgreen;
  }

  .center {
    text-align: center;
  }

  .red-text {
    color: red;
  }

  .forme {
    font-style: italic;
  }

  .large {
    width: 150px;
  }